@{
    ViewBag.Title = "Welcome to AllShare";
}

<div class="row">
    <div class="small-6 small-centered columns">
        <ul class="small tabs" data-tab>
            <li class="tab-title active"><a href="#login">Login</a></li>
            <li class="tab-title"><a href="#register">Register</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="login" style="background-color: white">
                @using (Ajax.BeginForm("Login", new AjaxOptions { HttpMethod = "POST" }))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Username" name="Username" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="password" placeholder="Password" name="Password" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Login</button>
                    </div>
                }
            </div>
            <div class="content" id="register" style="background-color: white">
                @using (Ajax.BeginForm("Register", new AjaxOptions {HttpMethod = "POST"}))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Username" name="Username" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="password" placeholder="Password" name="Password" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Register</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>