@{
    ViewBag.Title = "Welcome to AllShare";
}

<div class="row">
    <div class="small-6 small-centered columns">
        <ul class="small tabs" data-tab>
            <li class="tab-title active"><a href="#login">Login</a></li>
            <li class="tab-title"><a href="#register">Register</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="login" style="background-color: white">
                @using (Ajax.BeginForm("Login", new AjaxOptions {HttpMethod = "POST", OnFailure = "SocialSpace.OnSuccess"}))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Username" name="Username" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="password" placeholder="Password" name="Password" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Login</button>
                    </div>
                }
            </div>
            <div class="content" id="register" style="background-color: white">
                @using (Ajax.BeginForm("Register", new AjaxOptions {HttpMethod = "POST", OnFailure = "SocialSpace.OnSuccess"}))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Username" name="Username" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="password" placeholder="Password" name="Password" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="First Name" name="FirstName" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Last Name" name="LastName" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Email" name="Email" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Register</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalrHubs")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/allshare")

    <script>
        $(function() {
            var userHub = $.connection.userHub;
            $.connection.hub.start().done(function() {
                userHub.server.updateOnlineUsers();
            });

            userHub.client.updateOnlineUsersMessage = function() {
                $.ajax({
                    url: "/Home/GetOnlineUsers",
                    method: "POST"
                }).success(function(users) {
                    $("#onlineUsers").html(users);
                });
            };
        });
    </script>
}